{% extends 'base.html' %}
{% block main_content %}

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Artees</h1>
        <p class="lead">A whole new revolution in the field of merchandise is here. Its time for personlized not customised apparels at amazingly affordable price.</p>
        <a class="btn btn-large btn-success" href="{% url 'all-products' %}">Show Products</a>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <ul class="thumbnails">
        	{% for product in products %}
        		<li class="span4">
	            <div class="thumbnail">
	              <img alt="300x200" src="{{ product.image.url }}">
	              <div class="caption">
	                <h3>{{ product.name }}</h3>
	                <p>{{ product.description |truncatewords:25  }}</p>
                  <p>Price : <b>₹{{ product.price }}</b></p>
	                <p><a href="{% url 'bag:add-to-bag' product.id %}" class="btn btn-primary">Add To Cart</a> <a href="{% url 'product' product.slug %}" class="btn">View</a></p>
	              </div>
	            </div>
	          </li>
        	{% endfor %}
        </ul>
      </div>
      <div class="footer">
        <p>&copy; mohitkh7</p>
      </div>
{% endblock %}